<div id="mySidenav" class="sidenav" ng-click="closeNav()">
    <div style="height: 38px;
         ">
        <div style="
             float: left;
             width: 70%;
             margin-left: 30px;
             color: #004C77;
             font-size: 18px;"><b>THỰC ĐƠN</b></div>
        <img src="img/close.svg" alt = "logo"/>
    </div>
    <div style="width: 100%; height: 1px;background-color: #EEEEEE;"></div>
    <div ng-repeat="category in l_categories">
        <div ng-click="getProdInCategory(category)">
            <a href="javascript:void(0)" style="color: {{category.category_color}}; font-size: 18px;"> <i style="font-size: 18px;"><img style="margin-right: 5px;" src="{{category.icon}}" alt="item"/></i> {{category.category_name}} </a>
        </div>
    </div>
</div>
<div>
    <div class = "mytopweb">
        <div style="
             height: 25px;
             margin-left: 15px;
             margin-right: 15px;">    

            <div style="background: url(img/menu.svg) no-repeat 0px 7px; height: 100%; width: 100%; text-align: center;" ng-click="openNav()">
                <div style="text-align: center;margin-top: 6px;">
                    <img src="img/logo.png" alt="logo" height="18" width="110"/>
                </div>
            </div>
        </div>
        <div >
            <form id="search" style="
                  margin-bottom: 15px; 
                  margin-left: 15px;
                  margin-right: 15px; 
                  text-align: center;">
                <input name="q" ng-model="searchText" type="text" size="40" placeholder = "Tìm kiếm..."/>
            </form>
        </div>
    </div>
    <div style="height: 37px; margin-left: 10px;margin-right: 10px; margin-top: 76px;">
        <div style="height: 37px; 
             width: 40%;
             font-family: Arial, sans-serif;
             font-size: 12px;
             color: #7FA0B8;
             letter-spacing: 0;
             padding-top: 9px;
             float: left;
             text-transform: uppercase;">
            <b>{{current_category}}</b>
        </div>
        <div style="height: 37px; 
             width: 60%;
             font-family: Arial, sans-serif;
             font-size: 12px;
             letter-spacing: 0;
             padding-top: 9px;
             float: right;
             text-align: right;">
            <label style="color: #7FA0B8;">Tổng số món:</label> <label style="color:#00A2E6;">{{total_item_in_category}}</label>
        </div>
    </div>
    <div class="row" style="margin-top: 0px; margin-left: 0px; margin-right: 0px;">  
        <div style="overflow-y: scroll; height: 100%; width: 100%;" ng-repeat = "item in l_pro| filter:searchText">
            <div class="col-md-2 col-sm-2 col-xs-2" ng-click="deleteItem(item)">
                <div class ="top_image">
                    <img style="border-radius:50%;
                         -moz-border-radius:50%;
                         -webkit-border-radius:50%;
                         max-height: 100%;  
                         max-width: 100%; 
                         width: 45px;
                         height: 45px;
                         position: absolute;  
                         top: 0;  
                         bottom: 0;  
                         left: 0;  
                         right: 0;  
                         margin: auto;" src="{{item.img}}" alt="img">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" ng-click="openpopupadditem(item)"> 
                <div style="display: inline-flex;float: left; margin-top: 8px; margin-left: 5px;">
                    <table>
                        <tr><td><b>{{item.name_view}}</b></td></tr>
                        <tr><td>{{item.price| currency:"":0 }} vnđ</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="height: 55px;" ng-click="openpopupadditem(item)">
                <div style="
                     text-align: center;
                     vertical-align: central;
                     margin-top: 17px;
                     height: 21px;
                     width: 27px;
                     background: #00A2E6;
                     color: #FFFFFF;
                     border-radius: 100px;" ng-show=item.show_quantity>
                    <p>
                        {{item.quantity}}
                    </p>   
                </div>
            </div>
            <div class = "line">
            </div>
        </div>
    </div>
    <div style="height: 100px; width: 100%; margin-bottom: 100px;">
        
    </div>

    <div class = "myfooter">
        <div style="height: 37px; margin-left: 15px;margin-right: 15px; margin-top: 3px;">
            <div style="height: 37px; 
                 width: 40%;
                 font-family: Arial, sans-serif;
                 text-transform: uppercase;
                 font-size: 12px;
                 color: #2D6489;
                 letter-spacing: 0;
                 padding-top: 9px;
                 float: left;">
                <b>{{customer_location}}</b>
            </div>
            <div style="height: 37px; 
                 width: 60%;
                 font-family: Arial, sans-serif;
                 font-size: 12px;
                 letter-spacing: 0;
                 padding-top: 9px;
                 float: right;
                 text-align: right;">
                <label style="color: #2D6489;">TỔNG TIỀN:</label> <label style="color:#00A2E6;">{{totalmoney| currency:"":0 }} VNĐ</label>
            </div>
        </div>
        <div class="btntamtinh" ng-click="bill()">
            TÍNH TIỀN
        </div>
    </div>
</div>

<script>
    document.addEventListener("touchstart", function () {}, true);
</script>

<script type="text/ng-template" id="PopupAddItem.html">
    <form name="addItemForm">
        <div style = "margin-bottom:10px;text-align: center;">
            <img src="{{img_path}}" alt = "img"/>
            <div style= "text-align: center;color:#2D6489;font-size: 14px;padding-top:15px;">
                <b>{{item_name}}</b>
            </div>
            <div style= "text-align: center;color:#00A2E6;font-size: 18px;">
                <b>{{price | currency:"":0}} VNĐ</b>
            </div>
            <div style = "color: #4A4A4A; font-size: 12px;text-align: center; margin-top:10px;">
                Số lượng
            </div>
            <div class="row" style= "text-align: center; padding: 5px;">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <button class="btn btn-primary" type="submit" style="background: #D9E4ED;border: 1px solid #00A2E6;border-radius: 40px; color: #00A2E6;width:40px;height:40px;" ng-click="minus()">-</button>
                    <button class="btn btn-warning" type="button" style="background: white;border: 0px solid #00A2E6;border-radius: 40px; color: #00A2E6;width:40px;height:40px;">{{quantity}}</button>
                    <button class="btn btn-warning" type="button" style="background: #D9E4ED;border: 1px solid #00A2E6;border-radius: 40px; color: #00A2E6;width:40px;height:40px;" ng-click="plus()">+</button>
                </div>
            </div>
            <div class="row" style= "text-align: center; padding: 5px;">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <button class="btn btn-primary" type="submit" style="background: #E4F5FB;border: 1px solid #00A2E6;border-radius: 4px; color: #00A2E6;width:90px;" ng-click="ok()">Tiếp tục</button>
                    <button class="btn btn-warning" type="button" style="background: #E4F5FB;border: 1px solid #00A2E6;border-radius: 4px; color: #00A2E6;width:90px;" ng-click="bill()" ng-disabled="disable_thanhtoan">Thanh toán</button>
                </div>
            </div>
        </div>
    </form>
</script>