div.popover{
    width: 400px;
    max-width: 400px;
    height: 150px;
    max-height: 150px;

}
.roomselected{
    font-weight: bold !important;
}
.viewDetails {
    margin-right: 20px;
    float: right;
}

.room{
    font-size: 12px; 
}

.last {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACnRSTlMAQD0+GBoZPxccndfueAAAAHxJREFUeF5FzT0KAkEQhNEKZgTD2gmMhR2NG0QMZb3A4AnEPYFeYY/ghe1q9id7NF18YLkDwESCvbQzZxfHJ51VymexiaOrCEhH5y34cH1f67FimZfYZB1PEt4fzslkZCSBwRXJqB+2edeCql+FhPVzFC9SNiz1HzHX98Y/wQcQArsIocIAAAAASUVORK5CYII=');
    background-repeat: repeat;
    opacity: 0.5;
}
/*
div#roomnameselectedlist label{
    display: block;
    margin-bottom: 5px;   
    float: left;
    max-width: 135px;
    margin-left:0px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}
*/

li.titleroomlist, li.titlefloorlist{
    margin-right:2px;    
    margin-left: 0px;
}

li.titleroomlist > a, li.titlefloorlist > a{   
    font-weight: 700;
    color: #73879C;
}


div#roomnameselectedlist label, span {
    margin-right: 3px;
}


.fc-title {
    font-size: 10px;
}

.room_1 {
    background-color : lightblue;	
    border-color: white;
    color: black;

}

.room_2{
    background-color : Blue ;	
    border-color: white;
    color: black;
}

.room_3 {
    background-color : BlueViolet ;	
    border-color: white;
    color: black;
}
.room_4 {
    background-color : Brown ;	
    border-color: white;
    color: black;
}
.room_5 {
    background-color : BurlyWood ;	
    border-color: white;
    color: black;
}
.room_6 {
    background-color : CadetBlue ;
    border-color: white;	
    color: black;
}
.room_7 {
    background-color : Chartreuse;	
    border-color: white;
    color: black;
}
.room_8 {
    background-color : Chocolate ;	
    border-color: white;
    color: black;
}
.room_9 {
    background-color : Coral ;	
    border-color: white;
    color: black;
}
.room_10 {
    background-color : CornflowerBlue ;	
    border-color: white;
    color: black;
}
.room_11 {
    background-color : Cornsilk ;	
    border-color: white;
    color: black;
}
.room_12 {
    background-color : Crimson ;
    border-color: white;	
    color: black;
}
.room_13 {
    background-color : Cyan ;	
    border-color: white;
    color: black;
}
.room_14 {
    background-color : DarkBlue ;
    border-color: white;	
    color: black;
}
.room_15 {
    background-color : DarkGreen ;	
    border-color: white;
    color: black;
}
.room_16 {
    background-color : DarkKhaki ;	
    border-color: white;
    color: black;
}
.room_17 {
    background-color : DarkMagenta ;	
    border-color: white;
}
.room_18 {
    background-color : DarkOrange ;	
    border-color: white;
    color: black;
}
.room_19 {
    background-color : DarkRed ;	
    border-color: white;
    color: black;
}
.room_20 {
    background-color : DarkSeaGreen ;	
    border-color: white;
    color: black;
}

.room_21{
    background-color : DarkTurquoise ;	
    border-color: white;
    color: black;
}

.room_22{
    background-color : DarkViolet ;	
    border-color: white;
    color: black;
}

.room_23 {
    background-color : DeepPink ;	
    border-color: white;
    color: black;
}
.room_24 {
    background-color : DodgerBlue ;	
    border-color: white;
    color: black;
}
.room_25 {
    background-color : FireBrick ;	
    border-color: white;
    color: black;
}
.room_26 {
    background-color : ForestGreen ;	
    border-color: white;
    color: black;
}
.room_27 {
    background-color : Gold  ;	
    border-color: white;
    color: black;
}
.room_28 {
    background-color : GoldenRod ;	
    border-color: white;
    color: black;
}
.room_29 {
    background-color : Grey ;	
    border-color: white;
    color: black;
}
.room_30 {
    background-color : Khaki ;	
    border-color: white;
    color: black;
}
.room_31 {
    background-color : LawnGreen ;	
    border-color: white;
    color: black;
}
.room_32{
    background-color : LimeGreen  ;	
    border-color: white;
    color: black;
}

.room_33 {
    background-color : LightSeaGreen ;	
    border-color: white;
    color: black;
}
.room_34 {
    background-color : Maroon ;	
    border-color: white;
    color: black;
}
.room_35 {
    background-color : MediumOrchid ;	
    border-color: white;
    color: black;
}
.room_36 {
    background-color : MediumPurple ;	
    border-color: white;
    color: black;
}
.room_37 {
    background-color : MediumSeaGreen ;	
    border-color: white;
    color: black;
}
.room_38 {
    background-color : MediumSpringGreen ;	
    border-color: white;
    color: black;
}
.room_39 {
    background-color : MediumTurquoise ;	
    border-color: white;
    color: black;
}
.room_40 {
    background-color : Olive ;
    border-color: white;	
    color: black;
}

.wattingstatus {
    -webkit-animation: waittingstatus 5s infinite;    
    animation: waittingstatus 5s infinite;    
}

@-webkit-keyframes waittingstatus {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes waittingstatus {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.selected {
    background: #05b721 !important;
}

label.mycheckbox input[type='checkbox']{
    margin-top:2px;
}

@-moz-document url-prefix() {
    label.mycheckbox input[type='checkbox']{
        margin-top:1px;
    }

}