@-moz-document url-prefix() {
    label {
        margin-top: 1px;
    }
}

.top_nav li a i {
    font-size: 26px;
}

.toggle {
    width: 60%;
}
.top_nav .navbar-right {
    
    width: 40%;    
}

.title {
        font-size: 22px;
}

.panel_toolbox {    
    min-width: 20px;
}


