tr > th {
    text-align: center;
    vertical-align: middle;
}

tr >td {
    text-align: center;
    vertical-align: middle;    
}

td.addrres {
    text-align: left;
}

li.flooritem {
    border-radius: 5px;
    border: 1px solid #ddd;
    max-width: 175px;
    margin-left: 10px !important;
}

span.email.facilitygroup {
    float: left;
    margin-right: 5px;
    background: #f5f7fa; 
}




