<div class="header">
    <div style="
         height: 38px; 
         font: bold 14px Arial,Helvetica,Sans-serif;
         background-color: #00A2E6;
         text-align: center;
         color: #FFFFFF;" >
        <div class="row" style="height: 38px;">
            <div class="col-md-1 col-sm-1 col-xs-1" style="height: 38px;text-align: right;" ng-click="back()">
                <button class="btn btn-primary" type="submit" style="background: #00A2E6;border: 0px solid #00A2E6;height: 38px;width: 38px">
                    <i class="fa fa-chevron-left"></i>
                </button>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11" style="height: 38px;padding-top: 10px;">
                <label style="height: 38px;">
                    TÍNH TIỀN
                </label>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom: 20px;margin-top: 55px; {{margin_bottom}}">   
    <div style="height: 20px; width: 100%; text-align: center; color:#004C77; font-size: 16px;">
        <b>Các món đã chọn</b>
    </div>
    <div style="
         padding: 10px;
         background-color: white;">
        <table>
            <thead>
                <tr style="
                    color: #7FA0B8;
                    font-size: 12px;">
                    <td class="col-md-9 col-sm-9 col-xs-9"><b>MÓN ĂN</b></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><b>SL</b></td>
                    <td class="col-md-2 col-sm-2 col-xs-2" style="text-align: right;"><b>T.T</b></td>
                </tr>
                <tr>
                    <td class="col-md-9 col-sm-9 col-xs-9 line" style="margin-left: 10px;"></td>
                    <td class="col-md-1 col-sm-1 col-xs-1 line"></td>
                    <td class="col-md-2 col-sm-2 col-xs-2 line" style="margin-right: 10px;"></td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in l_product" ng-click="openpopup(item)">
                    <td class="col-md-9 col-sm-9 col-xs-9" style="padding-bottom: 10px;">
                        <div style="font-size: 14px;">
                            <img src="img/edit.svg" alt = "logo"/> <label style="color: #004C77;">{{item.item_name}}</label> 
                        </div>

                        <div style="color: #7FA0B8;font-size: 12px;">
                            <i>{{item.notetext}}</i>
                        </div>
                    </td>
                    <td class="col-md-1 col-sm-1 col-xs-1">{{item.quantity}}</td>
                    <!--<td class="col-md-2 col-sm-2 col-xs-2">{{item.price2k}}</td>-->
                    <td class="col-md-2 col-sm-2 col-xs-2" style="text-align: right;">{{item.amount2k}}</td>
                    <!--<td class="col-md-4 col-sm-4 col-xs-4">{{item.note}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 25px; width: 100%; text-align: right; color:#004C77; padding-right: 5px;padding-top: 0px;">
        <p style="margin-right: 10px;color: #4A4A4A;font-size: 14px;"><b>Tổng tiền:</b> <b style="color: #00A2E6; font-size: 18px;">{{total_money| currency:"":0}} VNĐ</b></p>
    </div>
</div>

<div class = "btn_bill" style='{{style_show_height}}'>
    <div style="
         height:35px; 
         width: 100%;
         font-size: 18px;
         text-align: center;">
        <div style="color: #004C77;" ng-click="writeInfo()">
            Ghi chú hoá đơn <i class="fa fa-sort-desc"></i>
        </div>
    </div>
    <div ng-show = "show_writeinfo">
        <div style="
             margin-left: 10px;
             margin-right: 10px;
             margin-bottom: 10px;
             ">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input style="border-radius: 100px; color: #2D6489;border: 1px solid #00A2E6; font-size: 13px;" type="text" class="form-control" ng-model="item_CustomerName" ng-keydown="typingItemCustomerName()" placeholder = "Họ tên">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input style="border-radius: 100px; color: #2D6489;border: 1px solid #00A2E6; font-size: 13px;" type="text" class="form-control" ng-model="item_PhoneNo" ng-keydown="typingItemPhoneNo()" placeholder = "Số điện thoại">
                </div>
            </div>
        </div>
        <div style="
             margin-left: 10px;
             margin-right: 10px;
             margin-bottom: 10px;">
            <textarea rows="2" style="border-radius: 10px;border: 1px solid #00A2E6;width: 100%; font-size: 13px;" ng-model="item_BillNote" placeholder = "Ghi chú"></textarea>
        </div>
    </div>

    <div class="btnthanhtoan" ng-click="pay()">
        THANH TOÁN
    </div>
</div>

<script type="text/ng-template" id="PopupAddNote.html">
    <form name="addForm">
    <div style = "margin-top: 20px;margin-bottom:20px;">
    <div style= "text-align: center;color:#004C77;font-size: 14px;">
    <h5 class="modal-title">Thêm ghi chú món ăn</h5>
    <b>({{item_name}})</b>
    </div>

    <div class="row" style = "margin: 10px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <input style="border-radius: 100px; color: #2D6489;border: 1px solid #00A2E6;" type="text" id="focusElement" name="code" class="form-control" ng-model="notetext" ng-keydown="typingItemNote()" placeholder = "Ví dụ: ít hành, ít bún,...">
    <span class="red" ng-show="errItemCodeOverCharacter">(*)Ghi chú không quá 20 kí tự</span>
    </div>
    </div>                                             

    <div class="row" style= "text-align: center;">
    <div class="col-md-12 col-xs-12 col-sm-12">
    <button class="btn btn-primary" type="submit" style="background: #E4F5FB;border: 1px solid #00A2E6;border-radius: 4px; color: #00A2E6;width:90px;" ng-click="ok()" ng-disabled="clicked">Lưu</button>
    <button class="btn btn-warning" type="button" style="background: #E4F5FB;border: 1px solid #00A2E6;border-radius: 4px; color: #00A2E6;width:90px;" ng-click="cancel()">Đóng</button>
    </div>
    </div>
    </div>
    </form>
</script>
